build/
.vs/
*.VC.db
*.VC.opendb
*.sln
*.vcxproj*
*.pdb
*.obj
*.ilk
*.exp
*.lib
!SDK/Libraries/Win/*.lib
*.ipch
*.tlog
*.log
*.tmp
tmp_*
*.zip
*.xpl
desktop.ini
releases/Archived_Previous_Test_Packages_do_not_ship/
releases/**/Internal_Checkpoints/
releases/**/Resources/plugins/XVatsim/win_x64/
tools/user_route_scenarios/generated_live/
